#test
{
    width: 90%;
    height: 700px;
    background-color: aqua;
    margin: 0 auto;
}
h1
{
    text-align: center;
}
@media (max-width: 480px) 
{
    #test 
    {
        background-color: blue;
    }
    h1 {font-size: 48px;}
}
@media (min-width: 481px) and (max-width: 992px)
{
    #test
    {
        background-color: blueviolet;        
    }
    h1
    {
        font-size: 90px;
    }
    
}